main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    width: 350px;
    height: 450px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.744);
    backdrop-filter: blur(3px);
}

#heading {
    text-align: center;
    margin: 32px;
    color: rgb(255, 255, 255);
    font-size: 20px; /* redondeado hacia arriba desde 19.2px */
}

.field {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    border-radius: 25px;
    padding: 10px; /* redondeado hacia arriba desde 9.6px */
    border: none;
    outline: none;
    color: white;
    background-color: #171717;
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
    margin-bottom: 10px;
}

.input-icon {
    height: 13px;
    width: 13px;
    fill: white;
}

.input-field {
    background: none;
    border: none;
    outline: none;
    width: 100%;
    color: #d3d3d3;
}

.form .btn {
    display: flex;
    justify-content: center;
    flex-direction: row;

}

.button1 {
    padding: 5px;
    padding-left: 12px; /* redondeado hacia arriba desde 11px */
    padding-right: 12px; /* redondeado hacia arriba desde 11px */
    border-radius: 5px;
    margin-right: 5px;
    border: none;
    outline: none;
    transition: 0.4s ease-in-out;
    background-color: #252525;
    color: white;
}

.button1:hover {
    background-color: black;
    color: white;
}

.button2 {
    padding: 5px;
    padding-left: 24px; /* redondeado hacia arriba desde 23px */
    padding-right: 24px; /* redondeado hacia arriba desde 23px */
    border-radius: 5px;
    border: none;
    outline: none;
    transition: 0.4s ease-in-out;
    background-color: #252525;
    color: white;
}

.button2:hover {
    background-color: black;
    color: white;
}

.button3 {
    margin-bottom: 30px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    outline: none;
    transition: 1s ease-in-out;
    background-color: #252525;
    color: white;
    margin-top: 50px;
}

.button3:hover {
    background-color: rgba(127, 5, 5, 0.999);
    color: white;
}