@import url('https://fonts.googleapis.com/css2?family=Truculenta:opsz,wght@12..72,100..900&display=swap');
@import url('https://cdn-uicons.flaticon.com/2.3.0/uicons-solid-rounded/css/uicons-solid-rounded.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.barrabarra {
    background-color: #000000!important;
    z-index: 1;
}
.barrabarra a {
    text-decoration: none !important;
    color: white !important;
    font-family: 'Truculenta', sans-serif !important;
    font-weight: 300 !important;
}

header nav div a {
    font-size: 20px !important;
    text-shadow: 8px 4px 8px black;
    margin: 0 20px;
    z-index: 100000000000;
}

::-webkit-scrollbar {
    width: 10px; 
}

::-webkit-scrollbar-track {
    background: #071a02;
}

::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 5px; 
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}


/*!---------------------------------------------------------------------------------------------------INICIO*/

body {
    background-image: url(../img/layered-peaks-haikei.svg);
}

/*----------------------------------------------------------FORM LOGIN*/

.noFunciona {
    pointer-events: none; 
    opacity: 1; 
}

.body-no-scroll {
    overflow: hidden;
} 

.contenedor-login {
    /* visibility: hidden;   */
    display: block;
    position: fixed;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px 40px 0 40px;
    width: 90%;
    max-width: 450px;
    min-height: 600px;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 50px 70px -20px rgba(0, 0, 0, 0.85);
    animation: aparecerModal 0.5s ease-out;
    pointer-events: auto; 
}

@keyframes aparecerModal {
    from {
        opacity: 0;
        transform: translate(-50%, -60%);
    }
    to {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}

.contenedor-login:after {
    content: '';
    display: inline-block;
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: radial-gradient(ellipse at left bottom, rgb(0, 0, 0) 0%, rgba(39, 43, 40, 0.919) 59%, rgba(54, 53, 53, 0.856) 100%);
    box-shadow: 0 -20px 150px -20px rgba(0, 0, 0, 0.5);
    border-radius: 25px;
}

.formulario-login {
    position: relative;
    z-index: 1;
    padding-bottom: 45px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.736);
}

.navegacion-login {
    position: relative;
    padding: 0;
    margin: 0 0 60px 10px;
}

.navegacion-login__item {
    list-style: none;
    display: inline-block;
}

.navegacion-login__item + .navegacion-login__item {
    margin-left: 22px;
}

.navegacion-login__item a {
    position: relative;
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 20px;
    padding-bottom: 5px;
    transition: .20s all ease;
}

.navegacion-login__item.activo a,
.navegacion-login__item a:hover {
    color: #ffffff;
    transition: .15s all ease;
}

.navegacion-login__item a:after {
    content: '';
    display: inline-block;
    height: 10px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    right: 100%;
    bottom: -1px;
    left: 0;
    border-radius: 50%;
    transition: .15s all ease;
}

.navegacion-login__item a:hover:after,
.navegacion-login__item.activo a:after {
    background-color: rgb(0, 121, 6);
    height: 2px;
    right: 0;
    bottom: 2px;
    border-radius: 0;
    transition: .20s all ease;
}

.etiqueta-login {
    display: block;
    padding-left: 10px;
}

.etiqueta-login,
.etiqueta-login--checkbox {
    color: rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
    font-size: 12px;
    margin-bottom: 10px;
}

.etiqueta-login--checkbox {
    display: inline-block;
    position: relative;
    padding-left: 15px;
    margin-top: 20px;
    margin-left: 10px;
    color: #ffffff;
    font-size: 12px;
    text-transform: inherit;
}

.entrada-login {
    color: white;
    font-size: 18px;
    width: 100%;
    padding: 5px 10px;
    border: 2px solid transparent;
    outline: none;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.25);
    letter-spacing: 1px;
}

.entrada-login:hover,
.entrada-login:focus {
    color: white;
    border: 2px solid rgba(255, 255, 255, 0.5);
    background-color: transparent;
}

.entrada-login + .etiqueta-login {
    margin-top: 15px;
}

.entrada-login--checkbox {
    position: absolute;
    top: 1px;
    left: 0;
    margin: 0;
}

.boton-login {
    color: #ffffff;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 10px;
    padding: 7px 0;
    border-radius: 20px;
    display: block;
    width: 100%;
    background-color: rgba(1, 88, 14, 0.75);
    border: none;
    cursor: pointer;
    transition: 1s;
    margin-top: 50px;
}

.boton-login:hover {
    box-shadow: 5px 5px  black;
}

.olvido-login {
    display: block;
    margin-top: 20px;
    text-align: center;
    color: rgba(255, 255, 255, 0.75);
    font-size: 12px;
    text-decoration: none;
    position: relative;
    z-index: 1;
}

.olvido-login:hover {
    color: rgb(17, 97, 237);
}

/* Estilos para el modal */
.modal {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-contenido {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    text-align: center;
}

.modal-cerrar {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modal-cerrar:hover,
.modal-cerrar:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/*------------------------------------------------------------------------------------------------modal cierre de venta*/





/*-------------------------------------------------------------------------------------------------mensajes de error o ingreso*/


.mimodal, .mimodaldenegado {
    display: none;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.704);
    border: 1px solid #036017;
    border-radius: 25px;
    width: 40%;
    height: 200px;
    position: fixed; /* Cambio de relative a fixed */
    top: 50%; /* Añadido para centrar verticalmente */
    left: 50%; /* Añadido para centrar horizontalmente */
    transform: translate(-50%, -50%); /* Añadido para centrar */
    z-index: 10;
}
    
.modal-content {
        position: relative;
        height: 100%;
}
    
.modalContent {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
    overflow: hidden;
    z-index: 0;
}
    
.logosimple {
    position: absolute;
    bottom: -70px;
    right: -50px;
    width: 200px;
    height: 150px;
    }
    
.btncerrar {
    width: 30%;
    height: 40px;
    font-size: 16px;
    text-align: center;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #ccc;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    z-index: 10;
    }
    
.parrafoModal {
    color: white;
    font-family: truculenta;
    font-size: 24px;
}

.parrafoModaldenegado {
    padding: 30px;
    color: white;
    font-family: truculenta;
    font-size: 20px;
}

/*!---------------------------------------------------------------------------------------------------SECCION INICIAL*/



/*----------------------------------------------------------------------------------------------------------titulo y boton*/


.hero-titulo-boton {
    position: absolute;
    top: 200px;
    right: 100px;
    z-index: 9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: 1s;
}

.boton-hero {
    background-color: #ffffff8b;
    color: rgb(14 80 14);
    text-shadow: 1px 1px 2px black;
    text-align: center;
    text-decoration: none;
    font-size: 60px;
    border-radius: 10px;
    padding: 5px 40px;
    height: 100px;
    font-family: truculenta;
    font-weight: bold;
    border: none;
    transition: 2s;
}

.boton-hero:hover {
    box-shadow: 0 0 30px white;
    color: #036017;
}

.hero-titulo-boton h3 {
    font-size: 30px;
    color: white;
    font-family: truculenta;
    font-weight: bold;
    text-shadow: 8px 8px 16px black;
    margin-bottom: 10px;
}

.contenedorImagenes {
    background-image: url(../img/fondobotellas.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: calc(100vh - 120px);
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    position: relative;
    z-index: 1;
}

.img-container {
    width: 20%;
    height: 20%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9;
    margin-bottom: 20px;
}

.img-container button {
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
    outline: none;
}

.img-container img {
    width: 80%;
    height: 80%;
    object-fit: cover;
    margin-bottom: 50px;
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.5));
    transition: transform 0.3s ease;
}

.img-container button:hover img {
    transform: scale(1.1);
}

.publicidad {
    position: absolute;
    left: 0;
    bottom: 50px;
    width: 50%;
    height: auto;
    z-index: 4;
    display: none;
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.5));
}

.publicidad img {
    width: 80%;
    height: 80%;
    object-fit: cover;
}

.texto-contenedor {
    width: 40%;
    height: calc(100vh - 200px);
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.479);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
    box-shadow: 0 -20px 150px -20px rgba(0, 0, 0, 0.5);
    color: black;
    position: absolute;
    bottom: 50px;
    right: 150px;
    display: none;
    padding: 20px;
    overflow-y: auto;
    z-index: 5;
    text-align: center; /*no se porque esto alinea el contenido de la api*/
}

@keyframes floatIn {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes floatOut {
    from {
        transform: translateX(0);
        opacity: 1;
    }
    to {
        transform: translateX(-100%);
        opacity: 0;
    }
}

@keyframes floatDown {
    from {
        transform: translateY(0);
        opacity: 1;
    }
    to {
        transform: translateY(100%);
        opacity: 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.float-in {
    animation: floatIn 0.5s ease-in-out forwards;
}

.float-out {
    animation: floatOut 0.5s ease-in-out forwards;
}

.float-down {
    animation: floatDown 0.3s ease-out forwards; 
}

.fade-in {
    animation: fadeIn 0.5s ease-in-out forwards;
}

.fade-out {
    animation: fadeOut 0.5s ease-in-out forwards;
}

.texto-contenedor img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    
}

.texto-contenedor h3 {
    position: absolute;
    font-size: 32px;
    margin-bottom: 10px;
    z-index: 10;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.781);

}

.texto-contenedor p {
    width: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
    color: white;
    font-size: 18px;
    line-height: 1.5;
    font-family: truculenta;
    background: radial-gradient(ellipse at left bottom, rgb(0, 0, 0) 0%, rgba(39, 43, 40, 0.919) 59%, rgba(54, 53, 53, 0.856) 100%);
    padding: 5px 20px;
}



/*------------------------------------------------------------------------------------------------NOSOTROS*/

.nosotros h1 {
    font-size: 80px;
    color: rgba(0, 0, 0, 0.812);
    font-family: "truculenta";
    text-shadow: 8px 8px 10px rgba(0, 0, 0, 0.453);
    padding: 20px 80px;
    text-align: center;
    height: auto; 
}

.nosotros p {
    font-size: 30px;
    color: white;
    background-color: #084408;
    padding: 50px 200px;
    margin-bottom: 50px;
    text-align: center;
    font-family: "truculenta";
    text-shadow: 8px 8px 16px black; 
}

/*!---------------------------------------------------------------------------------------------SECCION DE PEDIDOS */

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 400px;
    gap: 20px;
    max-width: 1200px;
    justify-items: center;
    align-items: center;
    margin: auto;
    margin-bottom: 50px;
    align-content: center;
}

.card {
    position: relative;
    width: 300px;
    height: 400px;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
    transition: all 0.5s;
}

.card:hover {
    box-shadow: 10px 1px 38px 0px rgba(0, 0, 0, 1);
}

.card-image {
    width: 100%;
    height: 50%;
    transition:  1s;
}

.card-info {
    background-color: #fff;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    padding: 16px 24px 24px 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 50%;
    transition: 1s ease;
}

.card-category {
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: 500;
    color: black;
    text-shadow: -1px 4px 13px rgba(0, 0, 0, 0.64);
    transition: 1s ease-in-out;
}


.card-title {
    margin-top: 5px;
    margin-bottom: 10px;
    height: 30px;
    text-align: end;
    /*no ponerle la propiedad del hover porque queda feo la vuelta*/
}

.card-text {
    height: 50px;
    font-size: 14px;
    color: #818a91;
    transition: 1s ease-in-out;
}

.card-button {
    height: 30px;
    text-align: center;
    background-color: #036017;
    border-radius: 25px;
    border: 1px solid black;
    text-decoration: none;
    transition: 0.5s;
    color: white;
}

.card-button:hover {
    opacity: 1;
    color: white;
}

.card:hover .card-image {
    transform: scale(1.2);
    filter: brightness(50%);
}

.card:hover .card-info {
    background-color: transparent;
}

.card:hover .card-title {
    animation: neon-pop 0.5s ease-in-out forwards;
    position: absolute;
    color: white;
    font-size: 24px;
    background-color: #0360179f;
    width: 130px;
    height: 130px;
    border-radius: 100%;
    top: -120%;
    right: -5%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.card:hover .card-text{
    color: white;
    font-size: 14px;
}
.card:hover .card-category {
    color: white;
    font-weight: bolder;
    scale: 1.1;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.658);
}

.card:hover .card-button {
    scale: 1.1;
}

@keyframes neon-pop {
    0% {
    transform: scale(1);
    box-shadow: none;
    text-shadow: none;
    }
    50% {
    transform: scale(1.1);
    box-shadow: 0 0 20px #0360179f, 0 0 30px #0360179f, 0 0 40px #0360179f;
    text-shadow: 0 0 10px #0360179f, 0 0 20px #0360179f, 0 0 30px #0360179f, 0 0 40px #0360179f;
    }
    100% {
    transform: scale(1);
    box-shadow: 0 0 20px #0360179f, 0 0 30px #0360179f, 0 0 40px #0360179f;
    text-shadow: 0 0 10px #0360179f, 0 0 20px #0360179f, 0 0 30px #0360179f, 0 0 40px #0360179f;
    }
}



/*!---------------------------------------------------------------------------------------------IMAGEN CARRITO*/

.fixed { /*no se porque me crea en otra parte del html un boton por eso lo oculto asi porque si le doy la propiedad hidden oculta el boton correcto*/
    height: 0px;
}

.fixed img {
    width: 120px;
    height: 120px;
    background-color: transparent;
    position: fixed;
    bottom: 10px;
    right: 30px;
    border-radius: 50%;
    margin: 20px;
    object-fit: cover;
    animation: vibrate 0.5s linear infinite;
    animation-delay: 5s;
    z-index: 9;

}

@keyframes vibrate {
    0% { transform: translate(0, 0); }
    20% { transform: translate(-2px, 2px); }
    40% { transform: translate(-2px, -2px); }
    60% { transform: translate(2px, 2px); }
    80% { transform: translate(2px, -2px); }
    100% { transform: translate(0, 0); }
}

/*!------------------------------------------------------------------------------------------------CARRITO DE COMPRAS*/

#carrito {
    position: fixed;
    top: 0;
    right: -400px;
    width: 400px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.744);
    padding: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    transition: right 0.3s ease-in-out;
    backdrop-filter: blur(3px);
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: auto; /*es la correccion del scroll*/
}

#carrito h2 {
    color: white;
    letter-spacing: 1px;
    font-family: truculenta;
    font-weight: 400;
    text-decoration: underline;
}

.imagenCarrito {
    width: 50px;
    height: 80px;
}

#carrito.oculto {
    right: -400px;
}

#carrito.visible {
    right: 0;
}

.btnConfirmarPedido {
    width: 90%;
    height: 40px;
    font-size: 16px;
    text-align: center;
    letter-spacing: 1.5px;
    font-weight: 500;
    color: white;
    background-color: #0360179f;
    border: 1px solid white;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    outline: none;
    z-index: 10;
    margin-top: 15px;
}

.btnOcultarCarrito {
    width: 40%;
    height: 40px;
    font-size: 12px;
    text-align: center;
    letter-spacing: 1.5px;
    font-weight: 500;
    color: white;
    background-color: #cccccc49;
    border: 1px solid white;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    outline: none;
    z-index: 10;
    margin-top: 15px;
}

.eliminarProducto {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 16px;
    text-align: center;
    color: white;
    background-color: rgba(136, 3, 3, 0.621);
    border: none;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    z-index: 10;   
}

.restarProducto {
    font-size: 16px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    color: white;
    background-color: rgb(1, 1, 78);
    border: none;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    z-index: 10;   
}


.precioBoton {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end
}
/**-------------------------------------------------------------------------------------------------ELEMENTOS DEL LISTADO*/

#listaCompras {
    color: white;
}

.tituloCarrito {
    text-align: center;
}

#listaCompras li {
    display: grid;
    grid-template-columns: auto 1fr auto; /* Imagen - Nombre y Cantidad - Precio Total */
    gap: 10px;
    align-items: center;
    padding: 5px;
    border-bottom: 1px solid #ccc;
}

#listaCompras li img {
    width: 50px;
    height: auto;
}

.nombre {
    font-weight: bold;
}

.cantidadEnCarrito {
    font-style: italic;
}

.productoCantidad {
    display: flex;
    flex-direction: column;
}

.precioTotalEnCarrito {
    text-align: right;
}

.nombre-cantidad-container {
    display: flex;
    flex-direction: column;
}


/*!--------------------------------------------------------------------------------------------GALERIA DE IMAGENES*/

.image-gallery-section {
    background-color: black;
}

.image-gallery-section h2 {
    height: 50px;
    font-size: 20px;
    color: white;
    align-content: center;
    text-align: center;
}

.image-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 900px;
    margin-inline: auto;
}

.image-gallery > img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    transition: transform 1s;
    opacity: 1;
}

.image-gallery:hover img:not(:hover) {
    transform: scale(0.9);
    opacity: 0.5;
}

/*------------------------------------------------------------------------------------------modal compra*/

/* Estilo para el modal de confirmar pedido */
.modal-confirmar-pedido {
    display: none;
    position: fixed;
    z-index: 10000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    overflow: auto;
}

.modal-content-confirmar-pedido {
    background-color: #ffffffe3;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
    z-index: 100000000;
}

.modal-header-confirmar-pedido {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.modal-header-confirmar-pedido h2 {
    margin: 0;
    font-size: 1.5em;
}

.close-confirmar-pedido {
    color: #aaa;
    font-size: 1.5em;
    cursor: pointer;
}

.close-confirmar-pedido:hover,
.close-confirmar-pedido:focus {
    color: #000;
    text-decoration: none;
}

.resumen-compra-contenido {
    margin-top: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.resumen-compra-contenido .producto-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.resumen-compra-contenido .producto-item .producto-info {
    text-align: left;
}

.resumen-compra-contenido .producto-item .producto-total {
    text-align: right;
    font-weight: bold;
}

.forma-pago-entrega {
margin-top: 20px;
}

.btn-finalizar-compra {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #036017;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-finalizar-compra:hover {
background-color: #036017;
}



/*!---------------------------------------------------------------------------------------------------------FOOTER*/
.site-footer {
    background-color: black;
    padding: 45px 0 20px;
    font-size: 16px;
    line-height: 24px;
    color: white;
    font-family: 'Truculenta', sans-serif;
    
}

.site-footer hr {
    border-top-color: #bbb;
    opacity: 0.5;
}

.site-footer h6 {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 2px;
}

.site-footer a {
    color: white;
    font-family: 'Truculenta', sans-serif;
}

.site-footer a:hover {
    text-decoration: none;
}

.site-footer .links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.site-footer .links h6 {
    text-align: center;
}

.site-footer .footer-links {
    padding-left: 0;
    list-style: none;
}

.site-footer .footer-links li {
    display: block;
}

.site-footer .footer-links a {
    color: white;
    text-decoration: none;
    transition: 1s;
}

.site-footer .footer-links a:hover {
    color: red;
}

.site-footer .social-icons {
    text-align: right;
}

.site-footer .social-icons li {
    display: inline-block;
    margin-bottom: 4px;
}

.site-footer .social-icons a {
    background-color: #eceeef;
    color: #818a91;
    font-size: 18px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    transition: all 0.5s linear;
}

.site-footer .social-icons a:hover {
    color: white;
}

.text-justify span {
    font-size: 24px;
}

.site-footer .social-icons .size-sm a {
    line-height: 34px;
    height: 34px;
    width: 34px;
    font-size: 14px;
}

.site-footer .social-icons a.facebook:hover {
    background-color: #3b5998;
}

.site-footer .social-icons a.whatsapp:hover {
    background-color: green;
}

.site-footer .social-icons a.google:hover {
    background-color: red;
}

.site-footer .social-icons a.instagram:hover {
    background-color: #ea4c89;
}


/*-----------------------------------------------------------------------------------------------------------*/



/*!------------------------------------------------------------------------Query 790px*/


@media screen and (max-width: 790px) {

/*------------------------------------------------modal*/

.mimodal, .mimodaldenegado {
    width: 60%;
    height: 200px;
}

.btncerrar {
    width: 50%;
}
.logosimple {
    position: absolute;
    bottom: -40px;
    right: -40px;
    width: 150px;
    height: 130px;
}

.parrafoModal {
    padding: 20px;
    font-size: 20px;
}

.parrafoModaldenegado {
    padding: 20px;
    font-size: 14px;
}

/*------------------------------------------------------------------IMAGENES INICIO*/

.galeriaImagenes {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    background-size: cover;
}

.img-container { /* imagenes de marcas*/
    width: 20%;
    height: 20%;
    margin-bottom: 10px;
    margin-right: 30px;
}

.img-container img {
    width: 110%;
    height: 110%;
    object-fit: cover;
    margin-bottom: 200px; 
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.5));
    transition: transform 0.3s ease;
}

.publicidad {
    width: 50%;
    height: calc(100vh - 300px);
}

.texto-contenedor {
    width: 50%;
    height: calc(100vh - 200px);
    bottom: 50px;
    right: 5px;
    display: none;
    padding: 20px;
    overflow-y: auto;
    z-index: 5;
    text-align: center; /*no se porque esto alinea el contenido de la api*/
}

.texto-contenedor p {
    font-size: 14px;
}

/*---------------------------------------------------------------------------------------NOSOTROS*/

.nosotros h1{
    font-size: 30px;
    padding: 20px 0px;
    margin: 0px;
}
.nosotros P {
    font-size: 16px;
    padding: 20px 20px;
    margin: 0px 0px;
}


/*---------------------------------------------------------------------------------------carrito 790px*/

#carrito {
    width: 50%;
    z-index: 10;
    overflow-y: auto;
}

#carrito h2 {
    color: white;
    font-size: 16px;
}

.imagenCarrito {
    width: 50px;
    height: 80px;
    margin: 5px 0px;
}

.nombre { 
    font-size: 14px;
}

#listaCompras {
    padding-left: 0px;
}

#btnOcultarCarrito {
    height: 40px;
    font-size: 14px;
    letter-spacing: 0px;
}

/*-------------------------------------------------------------------------------------------boton carrito 790px*/

.fixed img {
    width: 90px;
    height: 90px;
    bottom: 10px;
    right: 10px;
}

}
/*------------------------------------------------------------------------------------------ cierro query 790px*/
@media screen and (max-width: 650px) {

#carrito {
    width: 60%;
}

.boton-hero {
    font-size: 40px;
    /* Tamaño de la fuente */
    border-radius: 10px;
    /* Bordes redondeados */
    padding: 5px 20px 5px 20px;
    height: auto;
    font-style: inherit;
    font-weight: bold;
}

.hero-titulo-boton {
    position: absolute;
    top: 200px;
    right: 0px;
}

}

@media screen and (max-width: 450px) {

    #carrito {
        width: 90%;
    }
    
    }


    /*-----------------------------------*/
